NODE_ENV=development

COOKIE_DOMAIN=localhost

JWT_SECRET=12345
JWT_ACCESS_TOKEN_EXPIRES_IN=1m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=development

DATABASE_URL=postgresql://root:root@localhost:5432/development